{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body style="background-color:black;">
    <h1>LA <span class="second">CREATIVE</span></h1>
      
    <div class="man">
    <h1>Booking <span>Here !!</span></h1> <br><br>
    Name Of The Customer :<input type="text"> <br> <br>
    Venue Of The Program : <input type="text"> <br> <br>
    No Of Days: <input type="text"><br> <br>
    Type of Program : <input type="text" placeholder="Marriage,stage show etc"> <br> <br>
    Requirements of the customer : <input type="text"><br> <br>
    <input type="submit" value="Submit"> 
    <input type="reset" value="Reset">
    </div>
</body>
</html>












