{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Registration.css' %}">
</head>
<body style="background-color:black;">
    <h1>LA <span class="second">CREATIVE</span></h1>
      
    <div class="man">
    <h1>Register  <span>Here !!</span></h1> <br><br>
    Name Of The Photographer:<input type="text"> <br> <br>
    Age :                    <input type="text"> <br> <br>
    E-mail Address:          <input type="text"><br> <br>
    Condact Number :         <input type="text" placeholder="Marriage,stage show etc"> <br> <br>
    Address:                 <textarea name="Address" id="Address" cols="30" rows="5"></textarea> <br><br>
    Type : <br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Photo only</label>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> Video only</label>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> Both photo & video</label><br><br>
    Camera specification : <textarea name="camera" id="camera" cols="25" rows="3"></textarea> <br><br> 
    Add/Upload Previous works : <input type="file" id="myFile" name="filename"> <br><br>  
    <input type="submit" value="Submit"> 
    <input type="reset" value="Reset">
    </div>
</body>
</html>